.header {
  margin: 0 auto;
  width: 100%;
  display: flex;
  max-width: 1180px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.page-wrapper {
  box-sizing: border-box;
}

.nav-menu {
  display: flex;
  justify-content: start;
  margin-top: 50px;
}

.nav-menu-unit-link {
  text-decoration: none;
  font-size: 14px;
  color: #2b2b2b;
  padding: 5px 13px 5px 13px;
  margin-left: 30px;
  background-color: white;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}

.header-logo-link {
  margin-top: 50px;
  display: flex;
  align-items: center;
  width: 58px;
  height: 58px;
  background-image: url("components_/mamon-logo.svg");
}

.logo-text {
  display: inline-block;
  margin-left: 70px;
  font-size: 24px;
  color: #202020;
  text-decoration: none;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}

.nav-menu-unit-link:hover {
  background-color: #5528ff;
  padding: 7px 13px 5px 13px;
  text-align: center;
  border-radius: 5px;
  color: white;
}

.page-top {
  border-bottom: #c2c2c2 1px solid;
  padding: 0 15px 40px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.page {
  padding: 40px 15px 40px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.page-title-second {
  position: absolute;
  top: 770px;
  font-size: 14px;
  font-weight: 300px;
  background-color: #fff;
  padding: 5px 15px;
  font-weight: 300;
  line-height: 16px;
  color: #c2c2c2;
}

.page-button {
  background-color: #5528ff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 13px 58px 13px 58px;
  color: white;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 110px;
}

.page-title {
  padding: 117px 0 35px 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 55px;
}

.page-text {
  width: 700px;
  font-size: 32px;
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  padding-bottom: 70px;
}

.services {
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}

.services-item {
  padding-top: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.service-item-pic-container {
  flex-basis: 120px;
  text-align: center;
  padding-right: 15px;
}

.services-item-info {
  flex-basis: calc(100% - 120px);
}

.services-item-info {
  flex-basis: calc(100% - 120px);
}

.services-item-title {
  font-size: 28px;
  line-height: 32px;
  font-family: sans-serif;
  color: black;
}

.services-item-text {
  padding-top: 30px;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.page-title-third {
  position: absolute;
  top: 1279px;
  font-size: 14px;
  font-weight: 300px;
  background-color: #fff;
  padding: 5px 15px;
  font-weight: 300;
  line-height: 16px;
  color: #c2c2c2;
}

.client-logo-grid {
  padding-top: 100px;
  display: grid;
  max-width: 1180px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3);
  margin: 0 auto;
}

.client-logo {
  cursor: pointer;
  padding: 20px 0 20px 0;
  display: block;
  margin: auto;
}

.page-down {
  border-bottom: #c2c2c2 1px solid;
  padding: 0 15px 40px 15px;
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.page-title-fourth {
  position: absolute;
  top: 1707px;
  font-size: 14px;
  font-weight: 300px;
  background-color: #fff;
  padding: 5px 15px;
  font-weight: 300;
  line-height: 16px;
  color: #c2c2c2;
}

.team-item-pic {
  border-radius: 100%; /* Радиус скругления */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.team {
  padding-top: 50px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3);
  max-width: 1180px;
}

.team-item {
  padding: 25px 0 25px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.item-text-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.item-text {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.footer {
  background-color: #f7f7f7;
  height: 100px;
}
